* {
	margin: 0;
}


html, body {
    background-image: url("../images/auth.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding-top: 45px;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: helvetica;
}

th ,td{
    border: 1px solid black;
    text-align:left;
    font-size: 20px;
    height:40px;
    background: #dddddd;
    font-family: 'Sniglet', cursive;
}
th{
    background: gray;
}
.button{

    text-align: center;
    border: none;
    padding: 10px 22px 10px;
    margin: 2px 2px;
    font-size: 18px;

}

a {
	text-decoration: none;
    color: red;
}


