* {
    margin: 0;
}

html, body {
	height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    margin-left: 30px;
    margin-top:15px;
}

.button {
    background-color: lightgreen;
    text-align: center;
    border: none;
    padding: 10px 22px 10px;
    text-decoration: none;
    margin: 2px 2px;
    font-size: 18px;
}

h1{
    font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width: 200px) {
    .column {
        width: 100%;
    }
}

