html,body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 20px;
    background: #fff;
    line-height: 1.55;
}

.banner {
    height: 60vh;
    /* background-color: blue; */
    background:  linear-gradient(
        rgba(100, 100, 100, 0.5),
        rgba(100, 100, 100, 0.5)
      ),url('../images/banner.jpg')no-repeat center center;
      background-repeat: no-repeat;
      background-size: cover;
      /* align-items: center; */
      min-width: 100%;
      display: flex;
      font-weight: bold;
      /* position: relative; */
}
.today-specials {
    height: 50vh;
    background-color: #fff;
}

.menu {
    height: 50vh;
    background-color: red;
}



/* footer {
    text-align: initial;
    background: #000;
    background-size: fill;
    width: 100%;
    color: #fff;
   
} */
.col.four {
    width: 25%;
    float: left;
    text-align: center;
    background-color: black;
    color: #fff;
}

/* nav {
    color: black;  
    text-align: center; 
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

li {
    display: inline-block;
    margin-right: 2px;
    float: left;
 
}

li a {
    display: block;
    min-height: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: inherit;
    text-decoration: none;
    border-spacing: 1em;
    word-spacing: 3em;
}

li:hover a{
    background: red;
}

li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

.column {
    float: left;
    width: 33.33%;
    align-content: center;
    text-align: center;

}

.row:after {
    content: inherit;
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.ReadMore {
    color: white;
    background-color: red;
    /* border-style: solid; */
    
    padding: 10px 30px 10px 30px;
    
}
.ReadMore:hover {
    background-color: orange;
    color: #000;
    border-color: #000;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    padding-left: 300px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}

