html, body{
    width: 100%;
    height: 100%;
    color: #f0f0f0;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url('../images/carrots-food-fresh-616404.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    overflow: hidden;
}

#container {
    width: 340px;
    margin: auto;
    padding: 5%;
    margin-top: 5%;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

label {
    color: #fff;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

p a {
    font-size: 12px;
    color: #fff;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}

p a:hover {
    color: #f0ac;
}

input {
    font-size: 12px;
    outline: none;
}

input[type=text], input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

#lower {
    width: 100%;
    height: 69px;
    margin-top: 20px;

}

input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    /* padding-top: 100px; */
}

.check {
    margin-left: 3px;
}

#login {
    float: right;
    margin-right: 20px;
    margin-top: -45px;
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: #fff;
    background-color: orangered;
    border-radius: 30px;
    border: 1px solid #66add6;
    cursor: pointer;
}

#redirect{
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
}
#redirect:hover{
    text-decoration: underline;
}